/* Section de recherche d'employés */
article{
    background-color: #f0f0f0a1;
    border: none;
}

body{
    background-color: #f0f0f0a1;
}

section{
    background-color:#f0f0f0a1 ;
}

.search-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #7b6262;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.search-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-container label {
    margin: 0;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.search-container input[type="radio"] {
    margin-right: 5px;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0;
}
.employeeBlame{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.employeeBlame a{
    padding: 10px 20px;
    background-color: #ff0000ab;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    line-height: 1.2rem;
    margin: 15px;
}
.employeeBlame a:hover{
    background-color: #b32400d1;
}

.search-container button,
.search-container a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    line-height: 1.2rem;
}

.search-container button:hover,
.search-container a:hover {
    background-color: #0056b3;
}

/* Header du dashboard */
.dashboard-header {
    display: flex;
    align-items: center;
    gap: 50px;
    align-items: center;
   width: 80%;
    margin: 15px auto;
    margin-bottom: 80px;
 
}

.dashboard-header h2 {
    color: #333;
    margin: 0;
}

.dashboard-header a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1em;
}

.dashboard-header a:hover {
    background-color: #0056b3;
}

/* Liste des employés */
.employee-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.search-container form{
    margin: 40px;
}

.employeeContainer {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    padding: 20px;
    border: 1px solid #7b6262;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.employeeContainer img {
    max-width: 150px;
    border-radius: 50%;
    margin: 0 auto 10px auto;
}

.employeeContainer h3 {
    margin-bottom: 10px;
    color: #333;
}

.employeeContainer h4 {
    margin-bottom: 5px;
    color: #555;
}

.employeeContainer p {
    margin-bottom: 10px;
    color: #777;
}

/* Boutons de modification et de suppression */
.employeeContainer .employee-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.employeeContainer .employee-actions a {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9em;
}



.employeeContainer .employee-actions a:hover {
    background-color: #0056b3;
}

/* Message d'absence d'employés */
.no-employees {
    text-align: center;
    color: #777;
    margin-top: 20px;
}

section {
    border: none;
}

.redButton{
    background-color: #ff0000ab!important;
}
.redButton:hover{
    background-color: #b32400d1!important;
}